/* To run do npm i and npm start */

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Start with huge areas - get things in the right position before doing fine details  */

/* Looking at card we see it is 800px wide - all text is on same side but not stretched out to full width (content is on new lines) */

/* 
h1
font size and line height can be seen of figma and are changed to match designs.
From reading docs we now default size and use 2rem to give user more control.
Remove all margin is just good practice first to clear all defaults.]

Margin-bottom seen in figma for both h1 and p -= used in both

*/

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 3rem;
}

/* 
Same as above - font-size and line height set in doc and used. Margin is defaulted to 0.

The margin bottom for both is seen in figma and again uses rems for accessability

*/

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1rem;
}

/* 
p:last-child - we see in the figma the final paragraph has no margin and so we remove it.

*/

p:last-child {
  margin-bottom: 0;
}

header {
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

strong {
  color: hsla(160, 100%, 30%, 1);
}

/* 
.max-width-wrapper
We see width is 800px to match card in figma (text-alignment). 
We use margin 0 auto to center. 
*/

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

/* 
.intro-chunk
Padding added to match figma (click with option key to see px values) 
width is also seen ijn figma to create 'box' to constrain text - max-width means content has a hard limit

*/

.intro-chunk {
  max-width: 415px;
  padding-top: 96px;
  padding-bottom: 64px;
}

/* 
main
Background color added
padding to match style of figma and create gap for card.
*/

main {
  background-color: hsla(0, 0%, 40%, 1);
  padding: 64px 0;
}

/* 
.card
Padding added to keep text away from edges.
Negative margin used to move card and text back so all text is in line.
*/

.card {
  background-color: white;
  padding: 24px;
  margin: 0 -24px;
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

/* 
.indented-heading
font size, line height padding, background-color and border all copied from figma.
width: fit-content - used to reduce size of box to fit closer around text.

In figma all design is in units of 8 - so we calculate using figma and experimentation to move box until it matches design with negative width & height.

Why use px on margin top and rem on margin bottom?
Readability - the 8 px at the top remains no matter what - the other can now be altered by the user as required.

"Should the value expand with the users font size?"

*/

.indented-heading {
  font-size: 1.5rem;
  width: fit-content;
  line-height: 1.2;
  margin: 0;
  margin-left: -32px;
  margin-top: -16px;
  margin-bottom: 1rem;
  padding: 16px 32px;
  background-color: hsla(45, 100%, 50%, 1);
  border-bottom: 8px solid hsl(45, 100%, 40%);
}
